.nav {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #242c41;
  color: white;
  padding: 1px;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  margin-right: 1.5%;
  margin-left: 1%;
}

.web--header {
  color: aliceblue;
  margin-right: 1%;
}

.table--header {
  color: aliceblue;
  margin-right: 1%;
}

.contact--header {
  color: aliceblue;
  margin-right: 1%;
}