.nav {
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #242c41;
  color: white;
  padding: 1px;
}

.nav .App-logo {
  height: 4vmin;
  pointer-events: none;
  margin-right: 1.5%;
  margin-left: 1%;
}

.nav .web--header {
  color: aliceblue;
  margin-right: 1%;
  text-decoration: none;
}

.nav .table--header {
  color: aliceblue;
  margin-right: 1%;
  text-decoration: none;
}

.nav .contact--header {
  text-decoration: none;
  color: aliceblue;
  margin-right: 1%;
}

.nav .link-active {
  color: rgb(239, 141, 28);
  background: #242c41;
  text-decoration: none;
  margin-right: 1%;
}