* {
  box-sizing: border-box;
}
.field {
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #242c41;
}

.form {
  width: 100%;
  padding: 10px 2px;
  box-sizing: border-box;
  margin-top: 10px;
}

.country {
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #242c41;
}

.email {
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #242c41;
}

.tel {
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #242c41;
}

.text {
  border-radius: 5px;
  margin-right: 30%;
  margin-bottom: 10px;
  color: aliceblue;
}

.button {
  background-color: #242c41;
  width: 150px;
  height: 49px;
  color: aliceblue;
}

.baslik {
  padding: 10px;
  margin-top: 3.10%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #242c41;
  text-align: center;
  color: aliceblue;
}

.button_special {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
